# Timesheet Local Env Template (copy -> .env.local)
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
AZURE_AD_APP_SCOPE=
NEXTAUTH_SECRET=
# Group Claims (Security Groups OIDs)
NEXT_PUBLIC_ADMIN_GROUP=
NEXT_PUBLIC_CONSULTANT_GROUP=
NEXT_PUBLIC_CONTRIBUTOR_GROUP=${NEXT_PUBLIC_CONSULTANT_GROUP}
NEXT_PUBLIC_VIEWER_GROUP=
LOG_MODE=file
VOLATILE_STORE_PERSIST=true
NEXTAUTH_EMBED_GROUPS_IN_JWT=false
NEXT_PUBLIC_USE_MOCK=true
DATAVERSE_URL=
